.about-body {
    display: flex;
    justify-content: space-between;
}

.text-center {
  justify-content: center;
  color: #646cff;
  margin-left: 100px;
  text-shadow: 2px 2px 4px #0000bb;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
