.navbar-script {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  margin-left: 10px;
  padding-left: 10px;
  font-family: "Beautiful Delicious", sans-serif;
  font-size: 7rem;
  color: red;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.search_input {
  font-family: sans-serif;    
}

.about {
  font-size: 75px;
}