.viewed-container {
    background-color: #28A745;
    color: black;
    width: 80%;
    margin: auto;
    border-top: 5px solid black;
}

.fav-button {
    display: flex;
width: 200px;
height: 30px;
align-items: center;
}