.container {
  display: flexbox;
  margin: auto;
}

@font-face {
  font-family: "Beautiful Delicious";
  src: url("./assets/fonts/BDScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Beautiful Delicious";
  src: url("./assets/fonts/BDScript-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  color: red;
}

.navbar-script {
  font-family: "Beautiful Delicious", sans-serif;
  font-size: 7rem;
  color: red;
}
.header {
  border: 5px solid black;
  display: flex;
  width: 100vw;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 90vh;
  /* alternate backgrounds below */
  /* background: radial-gradient(rgb(228, 114, 114), rgb(136, 37, 136)); */
  /* background-color: lightgrey; */
}
